#nav-bar a {
    color: #ffffff;
    font-size: 100pt;
    text-decoration: none;
    padding: 0 3% 0 3%;
}
#nav-bar {
    text-align: center;
    font-family: 'Sumana', serif;
    position: relative;
    top: 50%;
    transform: translateY(50%);
}
