* {
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
}
@import "https://cdnjs.cloudflare.com/ajax/libs/uikit/2.xx.x/css/uikit.min.css";
@import "https://fonts.googleapis.com/css?family=Sumana:700";
